<div class="container">
  <ng-progress></ng-progress>
  <h1>MY GOALS</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
          <button class="btn btn-primary" (click)='goToUrl(goal.id)'>View Details</button>
          <button class="btn btn-outline-danger" (click)='deleteGoal(i)'>Delete Goal</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
  </div>
  <p *ngIf='goals.length > 5'>You have too many goals</p>
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>
</div>