<div class="container">
  <h1>MY GOALS</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
  </div>
  <p *ngIf='goals.length > 5'>You have too many goals</p>
</div>